openapi: 3.1.0
info:
  title: OpenFEC Candidate Elections API
  description: The OpenFEC API is a RESTful web service from the Federal Election Commission supporting full-text and field-specific searches on FEC data including candidates, committees, filings, financial summaries, and transaction schedules. Data are updated nightly.
  version: '1.0'
  contact:
    name: Federal Election Commission
    url: https://api.open.fec.gov/developers/
  license:
    name: Public Domain (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://api.open.fec.gov/v1
  description: Production OpenFEC API
security:
- apiKey: []
tags:
- name: Elections
paths:
  /elections/:
    get:
      summary: Election summaries by office, cycle, and district
      operationId: listElections
      parameters:
      - $ref: '#/components/parameters/PerPage'
      - name: cycle
        in: query
        schema:
          type: integer
      - name: office
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: district
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Election summary records.
      tags:
      - Elections
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Number of results per page.
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: api.data.gov API key. Use DEMO_KEY for limited testing.
