openapi: 3.1.0
info:
  title: OpenFEC Candidate Filings API
  description: The OpenFEC API is a RESTful web service from the Federal Election Commission supporting full-text and field-specific searches on FEC data including candidates, committees, filings, financial summaries, and transaction schedules. Data are updated nightly.
  version: '1.0'
  contact:
    name: Federal Election Commission
    url: https://api.open.fec.gov/developers/
  license:
    name: Public Domain (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://api.open.fec.gov/v1
  description: Production OpenFEC API
security:
- apiKey: []
tags:
- name: Filings
paths:
  /filings/:
    get:
      summary: List filings
      description: Reports filed with the FEC.
      operationId: listFilings
      parameters:
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      - name: candidate_id
        in: query
        schema:
          type: array
          items:
            type: string
      - name: committee_id
        in: query
        schema:
          type: array
          items:
            type: string
      - name: form_type
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A page of filings.
      tags:
      - Filings
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Number of results per page.
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number to return.
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: api.data.gov API key. Use DEMO_KEY for limited testing.
