openapi: 3.1.0
info:
  title: OpenFEC Candidate Committee API
  description: The OpenFEC API is a RESTful web service from the Federal Election Commission supporting full-text and field-specific searches on FEC data including candidates, committees, filings, financial summaries, and transaction schedules. Data are updated nightly.
  version: '1.0'
  contact:
    name: Federal Election Commission
    url: https://api.open.fec.gov/developers/
  license:
    name: Public Domain (CC0)
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://api.open.fec.gov/v1
  description: Production OpenFEC API
security:
- apiKey: []
tags:
- name: Committee
paths:
  /committee/{committee_id}:
    get:
      summary: Retrieve a single committee
      operationId: getCommittee
      parameters:
      - $ref: '#/components/parameters/CommitteeId'
      responses:
        '200':
          description: A committee record.
      tags:
      - Committee
  /committee/{committee_id}/totals/:
    get:
      summary: Committee financial totals
      operationId: getCommitteeTotals
      parameters:
      - $ref: '#/components/parameters/CommitteeId'
      responses:
        '200':
          description: Aggregated committee finances by cycle.
      tags:
      - Committee
components:
  parameters:
    CommitteeId:
      name: committee_id
      in: path
      required: true
      schema:
        type: string
      description: A committee identifier (e.g., C00000000).
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: api.data.gov API key. Use DEMO_KEY for limited testing.
